* {
  margin: 0;
  padding: 0;
}

.container-footer {
  background-color: #838dd7;
  height: 25vh;
  text-align: center;
  color: white;
  position: relative;
  overflow: hidden;
}

.footer-content {
  padding-top: 100px;
}
